@media (min-width:320px) and (max-width: 425px) {
    header {
        text-align: center;
    }
    body {
        width: 320px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    header {
        text-align: center;
    }
    body {
        width: 480px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 960px) {
    header {
        text-align: center;
    }
    body {
        width: 960px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
}