           /* Mobile View */
           
           @media (min-width:320px) and (max-width: 425px) {
               #a {
                   width: 320px;
                   height: 75px;
                   background-color: rgb(230, 200, 69);
               }
               #b {
                   width: 320px;
                   height: 150px;
                   background-color: rgb(196, 171, 60);
               }
               #c {
                   width: 320px;
                   height: 125px;
                   background-color: rgb(155, 134, 42);
                   order: 3;
               }
               #d {
                   width: 320px;
                   height: 125px;
                   background-color: rgb(109, 94, 30);
                   order: 4;
               }
               #lastFour {
                   display: grid;
                   grid-template-columns: repeat(2, 1fr);
                   width: fit-content;
               }
               #e {
                   width: 160px;
                   height: 250px;
                   background-color: rgb(58, 88, 22);
                   order: 1;
               }
               #f {
                   width: 160px;
                   height: 250px;
                   background-color: rgb(87, 128, 41);
                   order: 2;
               }
               #g {
                   width: 160px;
                   height: 250px;
                   background-color: rgb(125, 185, 57);
                   order: 3;
               }
               #h {
                   width: 160px;
                   height: 250px;
                   background-color: rgb(167, 255, 67);
                   order: 4;
               }
               #i {
                   width: 320px;
                   height: 80px;
                   background-color: rgb(102, 255, 0);
               }
           }
           /* Tablet View */
           
           @media (min-width: 425px) and (max-width: 768px) {
               header {
                   display: grid;
                   grid-template-rows: 1fr;
               }
               #a {
                   width: 480px;
                   height: 75px;
                   background-color: rgb(103, 103, 241);
               }
               #b {
                   width: 100px;
                   height: 425px;
                   background-color: rgb(50, 50, 128);
                   float: left;
               }
               main {
                   display: grid;
                   grid-template-rows: 1fr;
               }
               #firstTwo {
                   width: fit-content;
                   float: right;
               }
               #c {
                   width: 380px;
                   height: 100px;
                   background-color: rgb(62, 62, 153);
               }
               #d {
                   width: 380px;
                   height: 100px;
                   background-color: rgb(19, 19, 53);
               }
               #lastFour {
                   display: grid;
                   grid-template-columns: repeat(2, 1fr);
                   width: fit-content;
               }
               #e {
                   width: 190px;
                   height: 75px;
                   background-color: rgb(52, 20, 70);
               }
               #f {
                   width: 190px;
                   height: 75px;
                   background-color: rgb(73, 32, 110);
               }
               #g {
                   width: 190px;
                   height: 75px;
                   background-color: rgb(100, 44, 165);
               }
               #h {
                   width: 190px;
                   height: 75px;
                   background-color: rgb(124, 50, 194);
               }
               #i {
                   width: 380px;
                   height: 75px;
                   background-color: rgb(172, 52, 202);
               }
           }
           /* Laptop View */
           
           @media (min-width: 769px) {
               #a {
                   width: 960px;
                   height: 100px;
                   background-color: rgb(141, 226, 219);
               }
               #b {
                   width: 200px;
                   height: 600px;
                   background-color: rgb(74, 124, 120);
                   float: left;
               }
               #firstTwo {
                   display: flex;
                   flex-wrap: wrap;
                   grid-template-columns: repeat(2, 1fr);
               }
               #c {
                   width: 380px;
                   height: 200px;
                   background-color: rgb(27, 182, 169);
               }
               #d {
                   width: 380px;
                   height: 200px;
                   background-color: rgb(26, 145, 135);
               }
               #lastFour {
                   display: flex;
                   flex-wrap: wrap;
                   grid-template-rows: 1fr;
                   grid-template-columns: repeat(4, 1fr);
               }
               #e {
                   width: 190px;
                   height: 250px;
                   background-color: rgb(228, 27, 27);
               }
               #f {
                   width: 190px;
                   height: 250px;
                   background-color: rgb(185, 41, 41);
               }
               #g {
                   width: 190px;
                   height: 250px;
                   background-color: rgb(141, 30, 30);
               }
               #h {
                   width: 190px;
                   height: 250px;
                   background-color: rgb(100, 22, 22);
               }
               #i {
                   width: 760px;
                   height: 150px;
                   background-color: rgb(179, 87, 34);
               }
           }